<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>jazzName</key>
	<array>
		<string>The Jazzmas Channel</string>
		<string>Holiday Jazz</string>
		<string>Jazz Blues Soul</string>
		<string>The Wave Smooth Jazz</string>
		<string>The Vocal Jazz Channel</string>
		<string>A Taste of Jazz</string>
		<string>Allzic - Jazz</string>
		<string>24 Hour Jazz.com 88.5-2 FM</string>
		<string>Airlessradio - Jazz Jubilee</string>
		<string>ADR 205 Jazz La</string>
		<string>City Jazz Radio</string>
	</array>
	<key>jazzAudioUrl</key>
	<array>
		<string>http://185.80.220.101/1647_64</string>
		<string>http://listen.011fm.com/stream27</string>
		<string>http://192.232.192.96:9978/stream</string>
		<string>http://185.80.220.101/1radio_smoothjazz_128</string>
		<string>http://bigrradio.cdnstream1.com/5127_128</string>
		<string>http://listen.57fm.com/toj</string>
		<string>http://allzic40.ice.infomaniak.ch/allzic40.mp3</string>
		<string>http://icy1.abacast.com/kplu-jazz24aac-64</string>
		<string>http://hestia2.cdnstream.com/1231_128</string>
		<string>http://144.217.115.101:8084/stream</string>
		<string>http://85.17.122.32:8252/stream</string>
	</array>
</dict>
</plist>
